KELOMPOK 
1. Indra Deva Aji Zakaria (1301190320)
2. Rahmatia Primadiati (1301194091)
3. Zakia Syahrini (1301194108)

Bangunlah sebuah sistem rekomendasi mobil berbasis kNN untuk memilih 3 (tiga) mobil terbaik sesuai dengan inputan user. Sistem membaca masukan file mobil.xls dan mengeluarkan output berupa sebuah file rekomendasi.xls yang berisi satu vektor kolom berisi 3 (tiga) baris string yang menyatakan nama mobil yang direkomendasikan pada file mobil.xls.

Proses yang harus dibangun (bisa berbentuk fungsi/prosedur):

● Membaca file inputan (mobil.xls)

● Prapemrosesan data

● Perhitungan ukuran jarak, harus menggunakan seluruh rumus perhitungan jarak

 berikut ini kemudian membandingkan hasilnya:

o Euclidean distance

o Manhattan distance

o Minkowski distance

o Supremum distance

● Klasifikasi kNN

● Mengeluarkan file rekomendasi mobil (rekomendasi.xls)

In [ ]:
#upload data ke gdrive dan download
!gdown --id 1GN9D8NFeL6cuMsze_IICrftYF_eEuZ4V

Downloading...
From: https://drive.google.com/uc?id=1GN9D8NFeL6cuMsze_IICrftYF_eEuZ4V
To: /content/mobil.xls
100% 29.2k/29.2k [00:00<00:00, 56.0MB/s]

In [ ]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (1.4.3)

In [ ]:
# library
import math
import pandas as pa
import xlsxwriter
from google.colab import files

# membaca data
data = pa.read_excel ('mobil.xls')
data

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

In [ ]:
# menghapus nama mobil dari kolom
data_kolom = data.drop('Nama Mobil', axis=1)


def normalisasi():
    data_kolom = []
    for i in range(0, len(data)):
      data_kolom.append([
                         namaMobil[i], (ukuran[i] - ukuran.min()) / (ukuran.max()- ukuran.min()),(kenyamanan[i] - kenyamanan.min()) / (kenyamanan.max() - kenyamanan.min()),
                         (irit[i] - irit.min()) / (irit.max() - irit.min()), (kecepatan[i] - kecepatan.min()) / (kecepatan.max() - kecepatan.min()),
                         (harga[i] - harga.min()) / (harga.max() - harga.min())
      ])
    return data_kolom
data_kolom.head()

   Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)
0       4           4     9          6                1.00
1       4           3     9          6                1.10
2       6           5     6          6                2.00
3       6           4     6          6                1.75
4       7           7     6          7                2.25

In [ ]:
# fungsi euclidean distance
def euclidean_distance( x, y ):
    j = 0
    for i in range( len( x)):
       j =j + ( x[i] - y[i] ) ** 2
    
    return round( math.sqrt(j), 2 )

#fungsi manhattan distance
def manhattan_distance( x, y ):
    j = 0
    for i in range( len( x)):
         j = j + abs( x[i] - y[i] )

    return round( j, 2) 



#fungsi minkowski distance   
def minkowski_distance( x, y ):
     n = 2
     j = 0
     for i in range( len( x )):
        j = j + abs( x[i]- y[i] ) ** n

     return round( j ** 1/n, 2 )

#fungsi supremum distance
def supremum_distance( x, y ):
    j = []
    for i in range( len( x )):
        j.append( abs(x[i] - y[i] ))

    return round( max( j ), 2 )

In [ ]:
#menghitung jarak
eu, ma, mi, su = [], [], [], [],

def fungsi_jarak( data_kolom, data_input ):
    euclidean, manhattan, minkowski, supremum = [], [], [], []
    a = 3

    for i in range( len(data_kolom)):
        euclidean.append( [euclidean_distance(data_kolom.iloc[i], data_input), data['Nama Mobil'][i]])
        manhattan.append( [manhattan_distance(data_kolom.iloc[i], data_input), data['Nama Mobil'][i]])
        minkowski.append( [minkowski_distance(data_kolom.iloc[i], data_input), data['Nama Mobil'][i]])
        supremum.append( [supremum_distance(data_kolom.iloc[i], data_input), data['Nama Mobil'][i]])


    euclidean = sorted( euclidean )[:a]
    manhattan = sorted( manhattan )[:a]
    minkowski = sorted( minkowski )[:a]
    supremum = sorted( supremum )[:a]

    eu.append(euclidean)
    ma.append(manhattan)
    mi.append(minkowski)
    su.append(supremum)
       
    jarak = [ 
       ['Euclidean', euclidean], ['Manhattan', manhattan], ['Minkowski', minkowski], ['Supremum', supremum]
      ]

    return jarak

jarak = fungsi_jarak( data_kolom, data_input )
jarak

[['Euclidean',
  [[3.87, 'Toyota Avanza'], [3.88, 'Daihatsu Xenia'], [5.1, 'Toyota Agya']]],
 ['Manhattan',
  [[6.25, 'Daihatsu Xenia'], [7.0, 'Toyota Avanza'], [8.0, 'Toyota Agya']]],
 ['Minkowski',
  [[7.5, 'Toyota Avanza'], [7.53, 'Daihatsu Xenia'], [13.0, 'Toyota Agya']]],
 ['Supremum',
  [[3.0, 'Daihatsu Xenia'], [3.0, 'Toyota Avanza'], [4.0, 'Daihatsu Alya']]]]

In [ ]:
# main

print('=====MASUKAN DATA DISINI=====\n')
ukuran = int( input('1. Ukuran     : '))
kenyamanan = int( input('2. Kenyamanan : '))
irit = int( input('3. Irit       : '))
kecepatan = int( input('4. Kecepatan  : '))
harga = int( input('5. Harga      : '))
data_input = [ukuran, kenyamanan, irit, kecepatan, harga]

#mperhitungan untuk jarak
jarak = fungsi_jarak( data_kolom, data_input )

#hasil output
print('\n=====HASIL REKOMENDASI MOBIL=====')
for metode in jarak:
    print( f'\n======Metode {metode[0]}======')
    hasil = []
    i = 1
    for jarak in metode[1]:
        print( f'- {jarak[1]}, yaitu dengan jarak   : {jarak[0]}')
        i = i + 1

=====MASUKAN DATA DISINI=====

1. Ukuran     : 6
2. Kenyamanan : 6
3. Irit       : 5
4. Kecepatan  : 6
5. Harga      : 2

=====HASIL REKOMENDASI MOBIL=====

======Metode Euclidean======
- Toyota Avanza, yaitu dengan jarak   : 1.41
- Livina, yaitu dengan jarak   : 2.0
- Xpander, yaitu dengan jarak   : 2.02

======Metode Manhattan======
- Toyota Avanza, yaitu dengan jarak   : 2.0
- Daihatsu Xenia, yaitu dengan jarak   : 3.25
- Livina, yaitu dengan jarak   : 4.1

======Metode Minkowski======
- Toyota Avanza, yaitu dengan jarak   : 1.0
- Livina, yaitu dengan jarak   : 2.0
- Xpander, yaitu dengan jarak   : 2.03

======Metode Supremum======
- Livina, yaitu dengan jarak   : 1.0
- Toyota Avanza, yaitu dengan jarak   : 1.0
- Xpander, yaitu dengan jarak   : 1.0

In [ ]:
dtEU = {'Mobil': [eu[0][0][1], eu[0][1][1], eu[0][2][1]],
        'Jarak': [eu[0][0][0], eu[0][1][0], eu[0][2][0]]
        }

dtMA = {'Mobil': [ma[0][0][1], ma[0][1][1], ma[0][2][1]],
        'Jarak': [ma[0][0][0], ma[0][1][0], ma[0][2][0]]
        }

dtMI = {'Mobil': [mi[0][0][1], mi[0][1][1], mi[0][2][1]],
        'Jarak': [mi[0][0][0], mi[0][1][0], mi[0][2][0]]
        }

dtSU = {'Mobil': [su[0][0][1], su[0][1][1], su[0][2][1]],
        'Jarak': [su[0][0][0], su[0][1][0], su[0][2][0]]
        }

dfEU = pa.DataFrame(dtEU, columns = ['Mobil', 'Jarak'])
dfMA = pa.DataFrame(dtMA, columns = ['Mobil', 'Jarak'])
dfMI = pa.DataFrame(dtMI, columns = ['Mobil', 'Jarak'])
dfSU = pa.DataFrame(dtSU, columns = ['Mobil', 'Jarak'])

print("====== Metode Euclidean ======")
print(dfEU, "\n")
print("====== Metode Manhattan ======")
print(dfMA, "\n")
print("====== Metode Minkowski ======")
print(dfMI, "\n")
print("====== Metode Supremum ======")
print(dfSU, "\n")

writer = pa.ExcelWriter('rekomendasi.xls', engine='xlsxwriter')

dfEU.to_excel(writer, sheet_name='Euclidean', index = False, header=True)
dfMA.to_excel(writer, sheet_name='Manhattan', index = False, header=True)
dfMI.to_excel(writer, sheet_name='Minkowski', index = False, header=True)
dfSU.to_excel(writer, sheet_name='Supremum', index = False, header=True)

writer.save()
files.download('rekomendasi.xls')

====== Metode Euclidean ======
            Mobil  Jarak
0   Toyota Avanza   3.87
1  Daihatsu Xenia   3.88
2     Toyota Agya   5.10

====== Metode Manhattan ======
            Mobil  Jarak
0  Daihatsu Xenia   6.25
1   Toyota Avanza   7.00
2     Toyota Agya   8.00

====== Metode Minkowski ======
            Mobil  Jarak
0   Toyota Avanza   7.50
1  Daihatsu Xenia   7.53
2     Toyota Agya  13.00

====== Metode Supremum ======
            Mobil  Jarak
0  Daihatsu Xenia    3.0
1   Toyota Avanza    3.0
2   Daihatsu Alya    4.0